.back-drop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  inset: 0;
  display: none;
}

.modal {
  margin: 0;
  position: fixed;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 10px 10px 10px 1px #000000;
  padding: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  display: none;
}

.modal h2 {
  margin: 0 0 20px;
  color: #a9a9a9;
}


.todo-add-wrapper{
  display: flex;
  gap: 6px;
}

.modal .todo-input {
  height: 30px;
  border-radius: 6px;
  border-style: dashed;
  border-color: #a9a9a9;
  padding-left: 6px;
}

.error{
  background-color: rgb(255, 153, 0);
}